<h1>Lista szczepionek</h1>
<table *ngIf="szczepionki">
  <caption>Lista dostępnych szczepionek</caption>
  <tr class="tableHeader">
    <th>Id</th>
    <th>Nazwa</th>
    <th>Detale</th>
  </tr>
  <tr *ngFor="let vacine of szczepionki">
    <td>{{vacine.id}}</td>
    <td>{{vacine.name}}</td>
    <td><a [routerLink]="['/detale',vacine.id]">wiecej</a>
    <app-minidetal [cena]="vacine.details.price"></app-minidetal>
    </td>
  </tr>
</table>
<br>

  <h3 *ngIf="szczepionki">Właśnie ładuję szczepionki...</h3>

<a [routerLink]="['/list','addform']">Zapisz się</a>
<router-outlet></router-outlet>
