<h1>Zapisz się</h1>

<span (click) = "ustaw()">Ustaw</span>
<pre>
<!--<;wyświetlana z użyciem spacji i enterów-->
{{forma.value | json}} --
</pre>

<form [formGroup]="forma" action="index.html" method="post">
  <div>
    <label for="imieid">Imie</label>
    <input formControlName="imie" type="text" size="30" placeholder="np. Adam" name="imie" id="imieid" maxlength="40" accesskey="i" tabindex="1">
    <div *ngIf="forma.controls.imie.errors != null">
      <ul *ngIf="forma.controls.imie.errors.maxlength != null">
        Wpisałeś {{forma.controls.imie.errors.maxlength.actualLength}} a możesz tylko {{forma.controls.imie.errors.maxlength.requiredLength}}
      </ul>
    </div>

<!--    { "maxlength": { "requiredLength": 5, "actualLength": 9 } }-->
  </div>
  <div>
    <label for="nazwiskoid">Nazwisko</label>
    <input formControlName="nazwisko" type="text" size="50" value="" placeholder="np. Kowalski" name="nazwisko" id="nazwiskoid" maxlength="50" accesskey="n" tabindex="2">
  </div>
  <div>
    <fieldset>
      <legend>Płeć:</legend>
      <input formControlName="plec" type="radio" id="kobietaid" value="k" name="plec">
      <label for="kobietaid">kobieta</label>
      <input formControlName="plec" type="radio" id="mezczyznaid" value="m" name="plec">
      <label for="mezczyznaid">mężczyzna</label>
    </fieldset>
    <div id="plecError" class="noerror">
      Musisz wybrac plec
    </div>
  </div>
  <div>
    <fieldset [formGroup]="forma.controls.zyczenia">
      <legend>Życzenia:</legend>
      <input formControlName="a" type="checkbox" id="zostacid" value="z">
      <label for="zostacid">chcę zostać 1 godzinę</label>
      <input formControlName="b" type="checkbox" id="potwierdzid" value="p">
      <label for="potwierdzid">chcę dostać potwierdzenie</label>
    </fieldset>
    <div id="zyczeniaError" class="noerror">
      Musisz wybrac zyczenie
    </div>
  </div>
  <div>
    <label for="typid">Typ szczepionki</label>
    <select formControlName="typ" id="typid">
      <option [ngValue]="null" disabled selected> Wybierz </option>
      <option [ngValue]="1" >Pfizer</option>
      <option [ngValue]="2" >Novavax</option>
    </select>
    <div id="typError" class="noerror">
      Musisz wybrac typ
    </div>
  </div>
  <div>
    <label for="komentarzid">Komentarz</label><br>
    <textarea formControlName="komentarze" rows="10" cols="40" id="komentarzid" ></textarea>
  </div>
  <div>
    <input type="submit" value="Zapisz">

  </div>

</form>
